<footer>
    <div id='footerBlock'> 
        <h3 id='footerText'>&copy; 2020</h3>
    </div>
</footer>
<!-- Importacion de axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src ="/static/js/axios.js"></script>
