
<div id="navBlock">
    <ul id="menuNavegacion">
        <li><a href="/">Bienvenido</a> </li>
        <li><a href="/create">Enviar Preguntas</a> </li>
        <li><a href="/test">Test</a> </li>
    </ul>
</div>
