<div id="navBlock">
    <ul id="menuNavegacion">
        <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a> </li>
        <li><a href="/blog"><i class="glyphicon glyphicon-menu-hamburger"></i> Blogs publicados</a> </li>
    </ul>
</div>


