<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
    </header>
    <main>
        <form action="/api/tests" method="POST">
            <label for="pregunta">Pregunta:</label><br>
            <input type="text" id="pregunta" name="pregunta"><br>
            <label for="resp1">Respuesta 1</label><br>
            <input type="text" id="resp1" name="resp1"><br><br>
            <label for="resp2">Respuesta 2</label><br>
            <input type="text" id="resp2" name="resp2"><br><br>
            <label for="resp3">Respuesta 3</label><br>
            <input type="text" id="resp3" name="resp3"><br><br>
            <label for="resp4">Respuesta 4</label><br>
            <input type="text" id="resp4" name="resp4"><br><br>
            <label for="solucion">Solución</label><br>
            <input type="text" id="solucion" name="solucion" placeholder="<Numero> de respuesta correcta"><br><br>
            <input type="submit" value="Submit">
          </form>
<!-- 
          <form id="test-form" action="/api/tests" method="POST">
            <label for="question">Question:</label>
            <textarea id="question" name="question" required rows="4" cols="70"></textarea>
            <label for="answer1">Answer 1:</label>
            <textarea id="answer1" name="answer1" required rows="4" cols="70"></textarea>
            <label for="answer2">Answer 2:</label>
            <textarea id="answer2" name="answer2" required rows="4" cols="70"></textarea>
            <label for="answer3">Answer 3:</label>
            <textarea id="answer3" name="answer3" required rows="4" cols="70"></textarea>
            <label for="answer4">Answer 4:</label>
            <textarea id="answer4" name="answer4" required rows="4" cols="70"></textarea>
            <input type="submit" value="Crear test">
          </form>*/-->
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>