<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
    </header>
    <main>
        <div class="grid">
            <div class="left"></div>
            <div class="center">
                <div class="form">
                    <form action="/api/blogs" method="POST">
                        <label for="title">Titulo</label><br>
                        <input type="text" id="title" name="title"><br>
                        <label for="snippet">Tab trigger</label><br>
                        <input type="text" id="snippet" name="snippet"><br><br>
                        <label for="body">Body</label><br>
                        <textarea type="text" id="body" name="body"
                        placeholder="Escribé aqui tu snippet"></textarea>
                        <button id="botonEnviar" type="submit" value="Enviar">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>