* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Titulo */

#cabecera {
    background-image: url(./img/cabecera.jpg);
    background-color: rgb(68, 177, 240);
    height: 100px;
}

#tituloCabecera {
    text-align: center;
    font-family: Goldman;
    color: white;
    text-shadow: 2px 2px black;
    padding-top: 25px;
    margin: 0;
}

/* Menu de navegacion */

#navBlock {
    background-color: #333;
}

#menuNavegacion {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: 100px;
}

#menuNavegacion {
    li {
        float: left;
    }
}

#menuNavegacion {
    li {
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}

#menuNavegacion {
    li {
        a:hover {
            background-color: rgb(22, 143, 199);
            color: white;
        }
    }
}

/* Contenido */

.grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-bottom: 10px;
}

.gridInterface{
    display: grid;
    grid-template-columns: 30% 70% ;
    padding-bottom: 10px;
}

.center, .menuHUD {
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 20px auto 60px;
    border-radius: 10px;
    justify-self: center;

    h2 {
        text-shadow: black 2px 2px;
        text-align: center;
        margin: 0;
    }

    .title {
        padding-left: 10px;
    }

    ul {
        list-style-type: none;
        text-align: center;
        a {
            color: white;
            background-color: black;
            border-radius: 4px;
            padding: 2px;
            margin: 10px auto 20px;
        }
    }

    .form {
        text-align: center;

        input {
            color: black;
            border: 2px solid black;
            border-radius: 3px;
        }

        textarea {
            width: 100%;
            height: 150px;
            font-size: 16px;
            resize: none;
            color: black;
        }
    }
}

.blog {
    ul {
        background-color: black;
        color: white;
        border-radius: 5px;
        text-align: center;

        li {
            list-style-type: none;
        }

        a {
            color: white;
        }
    }
}

#botonEnviar {
    color: black;
    height: 30px;
    width: 60px;
}

#botonEnviar:hover {
    opacity: 1;
}

#json_get {
    color: black;
}

/* Pie de pagina */

#footerBlock {
    display: inline-block;
    padding-top: 10px;
    background-color: #333;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footerText {
    color: white;
    text-align: center;
    margin: 0;
}
